:root {
  --primary-color: #201e25;
  --secondary-color: #935e42;
  --text-color: #efefef;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}
body {
  margin: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.header-title {
  color: var(--text-color);
}
.header-form {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-form input {
  width: 75%;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}
.header-form button {
  width: 25%;
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 0 0.5rem 0.5rem 0;
  transition: all 0.3s ease;
}
.header-form button:hover {
  background-color: #945f42cc;
}
input,
button {
  outline: none;
  border: none;
  padding: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.main {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 2rem;
}
.card {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  gap: 1rem;
  box-shadow: 0;
  padding: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.card-info {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.album-artist,
.album-description,
.album-title {
  font-size: clamp(1rem, 0.5vw, 2rem);
  color: var(--primary-color);
}

.album-title {
  font-weight: 600;
  margin: 0;
}
.album-artist {
  font-weight: 400;
  margin: 0.5rem 0;
}
.album-description {
  margin: 0;
}

.card-image-container {
  aspect-ratio: 1/1;
  width: 50%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 40px -14px rgba(0, 0, 0, 1);
}
.card-image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content-visibility: auto;
}
@media only screen and (min-width: 640px) {
  .main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 1024px) {
  .card {
    flex-direction: column;
  }
  .card-info {
    width: 100%;
  }
  .card-image-container {
    width: 100%;
  }
  body {
    margin-top: 1rem;
  }
  .header-form {
    width: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header-form {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
